* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  height: 90vh;
  width: 100vw;
  background-color: rgb(48, 48, 45);
}
main {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 5%;
  background-color: blanchedalmond;
}
form {
  display: flex;
  justify-content: center;
  justify-items: center;
  line-height: 2rem;
}
